html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div {
    align-items: center;
    display: flex;
}

#timeDiv {
    position: fixed;
    left: 40%;
    top: 10%;
    z-index: 1;
    padding: 10px;
    background-color: gray;
    border-radius: 15px;
    font-size: 150%;
    opacity: 0.7;
}

#timeText {
    position: fixed;
    left: 40%;
    top: 10%;
    z-index: 2;
    padding: 10px;
    -webkit-text-stroke: medium;
    font-size: 150%;
    opacity: 1;
}

#map-view {
    flex: 1 1;
    order: 2;
    display: flex;
}

#map {
    position: absolute;
    left: 33.3333%;
    width: 66.6666%;
    top: 0;
    bottom: 0;
}

.mapboxgl-popup-content {
    font: 12px Arial; /*'Helvetica Neue';*/
    border-radius: 7px;
    padding: 5px 5px 5px;
    text-align: center;
    align-items: center;
    align-content: center;
    border-style: outset;
    border-width: thin;
    offset-distance: 10px;
    background: #ffffffc7;
    text-shadow: 0px 0px white;
}

.mapboxgl-popup-content-red .mapboxgl-popup-content {
    border-color: red;
}

.mapboxgl-popup-content-green .mapboxgl-popup-content {
    border-color: green;
}

.mapboxgl-popup-content-blue .mapboxgl-popup-content {
    border-color: blue;
}

p.popupText {
  margin: 0;
  text-shadow: 0px 0px white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    padding: 10px 0;
    width: 33.3333%;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid #e0e0e0
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dataLoadSection {
    margin-bottom: 150px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 65%;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 65%;
    margin-bottom: 0;
}

.toggleIcon {
    width: 60px;
    height: 60px;
}

.form-control-file {
    width: auto;
}

.data-container-control {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.data-container-control>button {
    margin: 5px 0;
}

.data-control-button {
    margin: 1em 0;
}

.headers-label {
    width: 90px;
}

.headers-select {
    border: 1px solid grey;
}

.headers {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.headers-row {
    margin: 2px 0;
}

.headers-required {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.map-type-group {
    position: absolute;
    right: 10px;
    top: 10px;
}

.sidebar-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 55%;
    overflow: hidden;
}

.sidebar-controls-buttons>button {
    border: 0px;
    background: none;
    color: grey;
    padding: 5px 10px;
    max-width: 41px;
    max-height: 41px;
}

.sidebar-controls-buttons>button:focus, .sidebar-controls-buttons>div>button:active:focus {
    outline: none !important;
    box-shadow: none !important;
}

.sidebar-controls-buttons>button:active:focus {
    color: black;
}

.event-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 15%;
    overflow: hidden;
}

.event-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: .25rem;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px 0;
}

.event-time {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: small;
    font-style: oblique;
    font-family: monospace;
}

.event-title {
    font-size: medium;
    font-weight: 600;
}

.event-datasetName {
    position: absolute;
    left: 5px;
    top: 0;
    width: 150px;
    text-decoration: underline;
    font-family: monospace;
}

.event-description {
    position: absolute;
    height: 64px;
    bottom: 7px;
    line-height: 1.4;
}

.event-display-1 {
    border-color: #ff6464;
}

.event-display-2 {
    border-color: #649b64;
}

.event-display-3 {
    border-color: #6464ff;
}

.event-display {
    position: relative;
    margin-bottom: 5px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
    box-shadow: none !important;
}