html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#app {
    height: 100%;
    width: 100%;
}

.marker-circle {
    background: url(/public/icons/circle-15.svg);
    background-size: cover;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}

.marker-square {
    background: url(/public/icons/square-15.svg);
    background-size: cover;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}

.marker-triangle {
    background: url(/public/icons/triangle-15.svg);
    background-size: cover;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}