html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

.marker-circle {
  background: url(/public/icons/circle-15.svg);
  background-size: cover;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

.marker-square {
  background: url(/public/icons/square-15.svg);
  background-size: cover;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

.marker-triangle {
  /* background: url(/public/icons/triangle-15.svg);
  background-size: cover;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s; */
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.mapboxgl-popup-content {
  /* Fade in out animation */
  /* opacity: 0;
  -webkit-animation: fadeInOut 4s;
  animation: fadeInOut 4s; */
  background-color: transparent;
  box-shadow: none;
}

.popup-content {
  font: 12px Arial;
  /*'Helvetica Neue';*/
  border-radius: 7px;
  padding: 5px 5px 5px;
  text-align: center;
  align-items: center;
  align-content: center;
  border-style: outset;
  border-width: thin;
  offset-distance: 10px;
  background: #ffffffc7;
  text-shadow: 0px 0px white;
}

/* .mapboxgl-popup-content-red .mapboxgl-popup-content {
  border-color: red;
} */

/* .mapboxgl-popup-content-green .mapboxgl-popup-content {
  border-color: green;
} */

.popupText {
  margin: 0;
  text-shadow: 0px 0px white;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}